[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = git@github.com:sen-sourav/sen-sourav.github.io.git
	branch = master
